<p-toast></p-toast>

<div class="container">
    <div class="row">
        <p-card header="Login">
            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
                <div class="flex flex-column gap-2">
                    <label htmlFor="username">User Id</label>
                    <input
                        pInputText
                        id="username"
                        #userName="ngModel"
                        aria-describedby="username-help"
                        name="userName"
                        [(ngModel)]="user.userName"
                        required
                    />
                    <small
                        class="text-red-600"
                        id="username-help"
                        *ngIf="userName.touched && userName.invalid"
                    >
                        Username is required</small
                    >
                </div>
                
                <div class="flex flex-column gap-2">
                    <label htmlFor="username">Password</label>
                    <p-password
                        id="password"
                        #userPassword="ngModel"
                        aria-describedby="username-help"
                        name="password"
                        [(ngModel)]="user.password"
                        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        [toggleMask]="true"
                        required
                    ></p-password>
                    <small
                        id="username-help"
                        class="text-red-600"
                        *ngIf="userPassword.touched && userPassword.invalid"
                        >Enter your password
                    </small>
                </div>

                <p-button
                    label="Login"
                    routerLink="/landing"
                    [disabled]="!userForm.valid"
                    type="submit"
                ></p-button>

                <div class="grid" style="margin-top: 5px">
                    <div class="col-7">
                        Not a member
                        <a routerLink="/registration">Register Now</a>
                    </div>
                    <div class="col-5">
                        <a href="/forgetPassword">Forgot Password</a>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>
