
<p-toast></p-toast>
<p-tabMenu
    styleClass="mb-2"
    [activeItem]="activeTab"
    [model]="routeItems"
></p-tabMenu>

<div class="card">
    <p-table
        #dt1
        [columns]="cols"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 15]"
        [globalFilterFields]="[
            'regionId',
            'zoneId',
            'zoneName',
            'zoneChairpersonDetails'
        ]"
        [columns]="cols"
        [value]="zoneList"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
    <ng-template pTemplate="caption">
        <div class="flex">
            <button
                pButton
                label="Clear"
                class="p-button-outlined"
                (click)="clear(dt1)"
                icon="pi pi-filter-slash"
            ></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    type="text"
                    (input)="
                        dt1.filterGlobal(
                            $any($event.target).value,
                            'contains'
                        )
                    "
                    placeholder="Search keyword"
                />
            </span>
        </div>
    </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="regionId" style="width: 20%">
                    Region Id <p-sortIcon field="zone.regionId"></p-sortIcon>
                </th>

                <th pSortableColumn="zoneId" style="width: 20%">
                    Zone Id <p-sortIcon field="zone.zoneId"></p-sortIcon>
                </th>
                <th pSortableColumn="zoneName" style="width: 20%">
                    Zone Name <p-sortIcon field="zone.zoneName"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="zoneChairpersonDetails"
                    style="width: 20%"
                >
                    Zone ChairPerson
                    <p-sortIcon field="zone.zoneChairpersonDetails"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-zone let-columns="columns">
            <tr>
                <!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
                <td>
                    <a
                        (click)="showDialog(zone.regionId)"
                        style="cursor: pointer"
                        >{{ zone.regionId }}</a
                    >
                </td>
                <!-- <td><a  style="cursor:pointer" type="button" (click)="showDialog()">{{ zone.regionId}}</a></td>  -->
                <td>{{ zone.zoneId }}</td>
                <td>{{ zone.zoneName }}</td>
                <td>{{ zone.zoneChairpersonDetails }}</td>
            </tr>
            <p-dialog
                header="Region Details"
                [(visible)]="visible"
                [style]="{ width: '50vw' }"
                [draggable]="false"
                [resizable]="false"
            >
                <h4>Region Id: {{ selectedRegion.regionId }}</h4>
                <h4>Region Name: {{ selectedRegion.regionName }}</h4>
                <h4>
                    Region Chairman:
                    {{ selectedRegion.regionChairpersonDetails }}
                </h4>
            </p-dialog>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button
                type="button"
                icon="pi pi-cloud"
                styleClass="p-button-text"
            ></p-button>
        </ng-template>
    </p-table>
</div>
