<style>

    .row{
        margin-top: 20px;
    }
    @media only screen and (max-width: 920px) {
        .row {
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
</style>

<p-toast></p-toast>
<p-tabMenu styleClass="mb-2" [model]="routeItems"></p-tabMenu>
<div class="grid">
    <div class="col-12 md:col-10">
        <form
            #bookingsData="ngForm"
            (ngSubmit)="postBookingsData(bookingsData.value)"
        >
            <div class="card p-fluid">
                <h4>Booking Details</h4>
                <br />
                <!-- <h5>Vertical</h5> -->
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label htmlFor="state">Booking Id</label>
                        <input
                            pInputText
                            id="age1"
                            type="text"
                            name="Address"
                            readonly
                        />
                    </div>
                    <div class="field col">
                        <label htmlFor="age1">Region Id</label>
                        <p-autoComplete
                            [(ngModel)]="bookings.regionId"
                            [suggestions]="filteredRegions"
                            (completeMethod)="filterRegion($event)"
                            field="regionName"
                            name="regionId"
                            [dropdown]="true"
                            placeholder="select"
                            (onSelect)="onSelectRegion($event)"
                        >
                            <ng-template let-regionsData pTemplate="item">
                                <div class="country-item">
                                    <div>{{ regionsData.regionName }}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                    <!-- <div class="field col">
                        <label htmlfor="name2">Name</label
                        ><input
                            pinputtext=""
                            id="name2"
                            type="text"
                            class="p-inputtext p-component p-element"
                        />
                    </div>
                    <div class="field col">
                        <label htmlfor="email2">Email</label
                        ><input
                            pinputtext=""
                            id="email2"
                            type="text"
                            class="p-inputtext p-component p-element"
                        />
                    </div> -->
                </div>

                <div class="p-formgrid grid">
                    <div class="field col">
                        <label htmlFor="age1">Zone Id</label>
                        <p-autoComplete
                            [(ngModel)]="bookings.zoneId"
                            name="zoneId"
                            [suggestions]="filteredZones"
                            (completeMethod)="filterZone($event)"
                            field="zoneName"
                            [dropdown]="true"
                            placeholder="select"
                            (onSelect)="onSelectZone($event)"
                        >
                            <ng-template let-newZoneList pTemplate="item">
                                <div class="country-item">
                                    <div>{{ newZoneList.zoneName }}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                    <div class="field col">
                        <label htmlFor="age1">Club Id</label>
                        <p-autoComplete
                            [(ngModel)]="bookings.clubId"
                            name="clubId"
                            [suggestions]="filteredClubs"
                            (completeMethod)="filterClubs($event)"
                            field="clubName"
                            [dropdown]="true"
                            placeholder="select"
                            (onSelect)="onSelectClub($event)"
                        >
                            <ng-template let-clubsList pTemplate="item">
                                <div class="country-item">
                                    <div>{{ clubsList.clubName }}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label htmlFor="age1">Location Id</label>
                        <p-autoComplete
                            [(ngModel)]="bookings.locationId"
                            name="locationId"
                            [suggestions]="filteredLocations"
                            (completeMethod)="filterLocations($event)"
                            field="locationName"
                            [dropdown]="true"
                            placeholder="select"
                        >
                            <ng-template let-locationsList pTemplate="item">
                                <div class="country-item">
                                    <div>{{ locationsList.locationName }}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                    <div class="field col">
                        <label htmlFor="age1">Date Of Event</label>
                        <p-calendar
                            [showIcon]="true"
                            [minDate]="minimumDate"
                            name="bookingDate"
                            [(ngModel)]="bookings.bookingDate"
                        ></p-calendar>
                    </div>
                </div>
                <div class="field">
                    <label htmlFor="age1">Time</label>

                    <p-dropdown
                        [options]="time"
                        optionLabel="name"
                        name="time"
                        [(ngModel)]="bookings.time"
                    ></p-dropdown>
                </div>
                <p-divider></p-divider>
                <h4>Sponsor Details</h4>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label htmlFor="state">Sponser Name</label>
                        <input
                            pInputText
                            id="age1"
                            type="text"
                            name="sponserName"
                            [(ngModel)]="bookings.sponsorName"
                        />
                    </div>
                    <div class="field col">
                        <label htmlFor="state">Email Id </label>
                        <input
                            pInputText
                            id="age1"
                            type="text"
                            name="email"
                            [(ngModel)]="bookings.sponsorEmail"
                        />
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label htmlFor="state">Phone Number</label>
                        <input
                            pInputText
                            id="age1"
                            type="text"
                            name="phoneNumber"
                            [(ngModel)]="bookings.sponsorPhoneNumber"
                        />
                    </div>
                    <div class="field col">
                        <label htmlFor="state">Amount </label>
                        <input
                            pInputText
                            id="age1"
                            type="number"
                            name="amount"
                            [(ngModel)]="bookings.amount"
                        />
                    </div>
                </div>
                <div
                    class="p-formgrid grid"
                    style="
                        display: flex;
                        justify-content: end;
                        margin-right: 20px;
                    "
                >
                    <!-- <div class="field col-3">
                        <p-button
                            label="Submit"
                            type="submit"
                            [disabled]="!bookingsData.valid"
                        ></p-button>
                    </div> -->
                    <div class="row">
                        <div class="field ">
                            <p-button
                                label="Proceed to pay"
                                type="submit"
                                [disabled]="!bookingsData.valid"
                                styleClass="p-button-warning"
                            ></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
