<p-tabMenu styleClass="mb-2" [model]="routeItems"></p-tabMenu>
<p-toast></p-toast>
<div class="card">
    <p-table
        #dt1
        [columns]="cols"
        [value]="regionsData"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 15]"
        [globalFilterFields]="[
            'regionId',
            'regionName',
            'regionChairpersonDetails'
        ]"
    
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <button
                    pButton
                    label="Clear"
                    class="p-button-outlined"
                    (click)="clear(dt1)"
                    icon="pi pi-filter-slash"
                ></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt1.filterGlobal(
                                $any($event.target).value,
                                'contains'
                            )
                        "
                        placeholder="Search keyword"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="regionId" style="width:20%">Region Id <p-sortIcon field="regionId"></p-sortIcon></th>
                <th pSortableColumn="regionName" style="width:20%">Region Name <p-sortIcon field="regionName"></p-sortIcon></th>
                <th pSortableColumn="regionChairpersonDetails" style="width:20%">Region ChairPerson <p-sortIcon field="regionChairpersonDetails"></p-sortIcon></th>
    
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button
                type="button"
                icon="pi pi-plus"
                styleClass="p-button-text"
            ></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button
                type="button"
                icon="pi pi-cloud"
                styleClass="p-button-text"
            ></p-button>
        </ng-template>
    </p-table>
</div>

<!-- <table>
    <tr>
      <th>Region Id</th>
      <th>Region Name</th>
      <th>Region Chairman</th>
    </tr>
    <tr *ngFor="let region of regionsData">
      <td>{{region.id}}</td>
      <td>{{region.name}}</td>
      <td>{{region.chairPerson}}</td>
    </tr>
   
  </table> -->
