<p-tabMenu styleClass="mb-2" [model]="routeItems"></p-tabMenu>

<div class="card">
    <p-table
    #dt1
        [columns]="cols"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 15]"
        [globalFilterFields]="[
            'zoneId',
            'clubId',
            'clubName',
            'clubChairpersonDetails'
        ]"
        
        [columns]="cols"
        [value]="clubsList"
        [tableStyle]="{ 'min-width': '50rem' }"
    ><ng-template pTemplate="caption">
        <div class="flex">
            <button
                pButton
                label="Clear"
                class="p-button-outlined"
                (click)="clear(dt1)"
                icon="pi pi-filter-slash"
            ></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    type="text"
                    (input)="
                        dt1.filterGlobal(
                            $any($event.target).value,
                            'contains'
                        )
                    "
                    placeholder="Search keyword"
                />
            </span>
        </div>
    </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="zoneId" style="width: 20%">
                    Zone Id <p-sortIcon field="club.zoneId"></p-sortIcon>
                </th>

                <th pSortableColumn="clubId" style="width: 20%">
                    Club Id <p-sortIcon field="club.clubId"></p-sortIcon>
                </th>
                <th pSortableColumn="clubName" style="width: 20%">
                    Club Name <p-sortIcon field="club.clubName"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="clubChairpersonDetails"
                    style="width: 20%"
                >
                Club ChairPerson
                    <p-sortIcon field="club.clubChairpersonDetails"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-club let-columns="columns">
            <tr>
                <td>{{ club.zoneId }}</td>
                <td>{{ club.clubId }}</td>
                <td>{{ club.clubName }}</td>
                <td>{{ club.clubChairpersonDetails }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button
                type="button"
                icon="pi pi-cloud"
                styleClass="p-button-text"
            ></p-button>
        </ng-template>
    </p-table>
</div>
