

<p-toast></p-toast>
<p-tabMenu styleClass="mb-2" [model]="routeItems"></p-tabMenu>

<div class="grid">
	<div class="col-12 md:col-6">
		<form #clubData="ngForm" (ngSubmit)="postClubsData(clubData.value)">
		
			<div class="card p-fluid">
				<!-- <h5>Vertical</h5> -->
				<div class="field">
					<label htmlFor="state">Zone</label>
					<p-autoComplete [(ngModel)]="club.zoneId" name="zoneId"   [suggestions]="filteredZones"
					(completeMethod)="filterZone($event)"  field="zoneName" [dropdown]="true">
					<ng-template let-zonesList pTemplate="item">
					  <div class="country-item">
						<div>{{zonesList.zoneName}}</div>
					  </div>
					</ng-template>
				  </p-autoComplete>
				</div>
				
				<div class="field">
					<label htmlFor="age1">Club Id</label>
					<input pInputText id="age1" type="text" name="clubId"  readonly/>
				</div>
				<div class="field">
					<label htmlFor="age1">Club Name</label>
					<input pInputText id="age1" type="text" name="clubName" required [(ngModel)]="club.clubName" required />
				</div>
				<div class="field">
					<label htmlFor="age1">Club Chairman Details</label>
					<input pInputText id="age1" type="text" name="clubChairpersonDetails" [(ngModel)]="club.clubChairpersonDetails" required/>
				</div>
				<div class="button">
                    <div  class="col-12 md:col-3">
                        <p-button label="Submit"   type="submit" [disabled]="!clubData.valid" ></p-button>
                    </div>
                </div>
			</div>
		</form>
		
		
	</div>

	
</div>



