<style>
    .validation-error {
        color: red;
    }
</style>
<p-toast></p-toast>
<div class="container">
   <div class="row">
    
            <p-card header="Register">
                <form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
                    <div class="flex flex-column gap-2">
                        <label htmlFor="username">Name</label>
                        <input
                            pInputText
                            id="username"
                            formControlName="userName"
                            aria-describedby="username-help"
                        />
                        <span
                            class="validation-error"
                            *ngIf="(formSubmitted || registrationFormGroup.controls.userName.touched) && registrationFormGroup.controls.userName.errors?.['required']"
                            >Name is required</span
                        >
                        <span
                            class="validation-error"
                            *ngIf="(formSubmitted || registrationFormGroup.controls.userName.touched)  && registrationFormGroup.controls.userName.errors?.['minlength'] || registrationFormGroup.controls.userName.errors?.['maxlength']"
                            >Name should be between 5 to 50 characters</span
                        >
                    </div>
    
                    <div class="flex flex-column gap-2">
                        <label htmlFor="username">Email</label>
                        <input
                            pInputText
                            id="email"
                            aria-describedby="username-help"
                            formControlName="email"
                        />
                        <span
                            class="validation-error"
                            *ngIf="(formSubmitted || registrationFormGroup.controls.email.touched)  && registrationFormGroup.controls.email.errors?.['required']"
                            >Email is required</span
                        >
                        <span
                            class="validation-error"
                            *ngIf="(formSubmitted || registrationFormGroup.controls.email.touched)  && registrationFormGroup.controls.email.errors?.['email']"
                            >Please enter correct email id</span
                        >
                    </div>
                    <div class="flex flex-column gap-2">
                        <label htmlFor="username">Club Member</label>
    
                        <p-dropdown
                            [options]="clubsList"
                            optionValue="clubId"
                            placeholder="select"
                            formControlName="clubId"
                            optionLabel="clubName"
                            autoWidth="false"
                            [style]="{ width: '100%' }"
                        ></p-dropdown>
                        <span
                            class="validation-error"
                            *ngIf="(formSubmitted || registrationFormGroup.controls.clubId.touched)  && registrationFormGroup.controls.clubId.errors?.['required']"
                            >Please select an option</span
                        >
                    </div>
                    <div class="flex flex-column gap-2">
                        <label htmlFor="username">Password</label>
                        <input
                            pInputText
                            id="password"
                            formControlName="password"
                            aria-describedby="username-help"
                        />
                        <span
                            class="validation-error"
                            *ngIf="(formSubmitted || registrationFormGroup.controls.password.touched)  && registrationFormGroup.controls.password.errors?.['required']"
                            >Password is required</span
                        >
                        <span
                            class="validation-error"
                            *ngIf="(formSubmitted || registrationFormGroup.controls.password.touched)  && registrationFormGroup.controls.password.errors?.['pattern']"
                            >Please enter strong password(Should have Uppercase,
                            lowercase, numbers & special characters</span
                        >
                    </div>
                    <div class="flex flex-column gap-2">
                        <label htmlFor="userAddress">Address</label>
    
                        <textarea
                            rows="5"
                            cols="30"
                            pInputTextarea
                            formControlName="address"
                        ></textarea>
                        <span
                            class="validation-error"
                            *ngIf="(formSubmitted || registrationFormGroup.controls.address.touched)  && registrationFormGroup.controls.address.errors?.['required']"
                            >Address is required</span
                        >
                    </div>
    
                    <p-button label="Submit" type="submit"></p-button>
                </form>
            </p-card>
        </div>
    </div>
   
