
.container{
    background-image: url('src/assets/demo/images/background_image.jpeg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}


.flex {
    width: 100%;
    margin-bottom: 20px;
}
p-button {
    margin-top: 20px;
    margin-left: 10px;
}


p-dropdown{
    width: 100%;
}
@media only screen and (max-width: 920px) {
    .row{
     width: 23rem;
    }
   }
   @media only screen and (min-width: 920px) {
     .row{
      width: 40rem;
     }
    }
