<style>
     @media only screen and (max-width: 920px) {
        marquee{
      display: none;
     }
    }
</style>

<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img
            src="assets/layout/images/{{
                layoutService.config.colorScheme === 'light'
                    ? 'valuedgelogo'
                    : 'valuedgelogo'
            }}.png"
            alt="logo"
            style="width: 100px; margin-right: 20px"
        />
       
    </a>

    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <marquee direction="left" style="font-family: Rajdhani, sans-serif;font-size: 20px; color: #0c269a"  scrolldelay="100" behavior="loop"> Welcome To Meals On Wheels By Lions Club</marquee>


    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        
        <a routerLink="/uikit/login">
            <button class="p-link layout-topbar-button">
                <i class="pi pi-user"></i>
                <span>Profile</span>
            </button>
        </a>
        <button
            class="p-link layout-topbar-button"
            [routerLink]="'/documentation'"
        >
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
</div>
