<div class="layout-footer">
    <span class="font-medium ml-2" style="margin-right: 10px;">Meals On Wheels</span>
    <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Logo" height="20" class="mr-2"/> -->
    by
     <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'valuedgelogo' : 'valuedgelogo'}}.png" alt="Logo" height="20" class="ml-4"/> 
</div>
