<p-tabMenu styleClass="mb-2" [model]="routeItems"></p-tabMenu>

<div class="card">
    <p-table
    #dt1
    [columns]="cols"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 15]"
    [globalFilterFields]="[
        'clubId',
        'locationId',
        'locationName',
        'locationInchargeDetails',
        'locationAddress'
    ]"
        [columns]="cols"
        [value]="locationList"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
    <ng-template pTemplate="caption">
        <div class="flex">
            <button
                pButton
                label="Clear"
                class="p-button-outlined"
                (click)="clear(dt1)"
                icon="pi pi-filter-slash"
            ></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    type="text"
                    (input)="
                        dt1.filterGlobal(
                            $any($event.target).value,
                            'contains'
                        )
                    "
                    placeholder="Search keyword"
                />
            </span>
        </div>
    </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="clubId" style="width: 20%">
                    Club Id <p-sortIcon field="location.clubId"></p-sortIcon>
                </th>

                <th pSortableColumn="locationId" style="width: 20%">
                    Location Id <p-sortIcon field="location.locationId"></p-sortIcon>
                </th>
                <th pSortableColumn="locationName" style="width: 20%">
                    Location Name <p-sortIcon field="location.locationName"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="locationInchargeDetails"
                    style="width: 20%"
                >
                Location ChairPerson
                    <p-sortIcon field="location.locationInchargeDetails"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="locationAddress"
                    style="width: 20%"
                >
                Location Address
                    <p-sortIcon field="location.locationAddress"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-location let-columns="columns">
            <tr>
                 <td>{{ location.clubId }}</td> 
                <td>{{ location.locationId }}</td>
                <td>{{ location.locationName }}</td>
                <td>{{ location.locationInchargeDetails }}</td>
                <td>{{ location.locationAddress }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
