<p-toast></p-toast>

<p-tabMenu styleClass="mb-4" [model]="routeItems"></p-tabMenu>
<div class="grid">
    <div class="col-12 md:col-6">
        <form #zoneData="ngForm" (ngSubmit)="postZonesData(zoneData.value)">
            <div class="card p-fluid">
                <div class="field">
                    <label htmlFor="state">Region</label>
                    <p-autoComplete
					

                        [suggestions]="filteredRegions"
                        (completeMethod)="filterRegion($event)"
                        field="regionName"
						
                        name="regionId"
                        [dropdown]="true"
						[(ngModel)]="zone.regionId"

                    >
                        <ng-template let-regionsList pTemplate="item">
                            <div class="country-item">
                                <div>{{ regionsList.regionName }}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>

                <div class="field">
                    <label htmlFor="age1">Zonal Id</label>
                    <input
                        pInputText
                        id="age1"
                        type="text"
                        readonly
                        name="zoneId"
                    />
                </div>
                <div class="field">
                    <label htmlFor="age1">Zonal Name</label>
                    <input
                        pInputText
                        id="age1"
                        type="text"
                        name="zoneName"
                        [(ngModel)]="zone.zoneName"
                        required
                    />
                </div>
                <div class="field">
                    <label htmlFor="age1">Zonal Chairman Details</label>
                    <input
                        pInputText
                        id="age1"
                        type="text"
                        name="zoneChairpersonDetails"
                        [(ngModel)]="zone.zoneChairpersonDetails"
                        required
                    />
                </div>
                <div class="col-12 md:col-3">
                    <div>
                        <p-button
                            label="Submit"
                            type="submit"
                            [disabled]="!zoneData.valid"
                        ></p-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
