<p-tabMenu styleClass="mb-2" [model]="routeItems"></p-tabMenu>
<div class="card">
    <p-table
        #dt1
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 15]"
        [globalFilterFields]="[
            'bookingId',
            'regionId',
            'zoneId',
            'clubId',
            'locationId',
            'sponserName',
            'phoneNumber',
            'bookingDate',
            'amount'
        ]"
        [value]="bookingsList"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <button
                    pButton
                    label="Clear"
                    class="p-button-outlined"
                    (click)="clear(dt1)"
                    icon="pi pi-filter-slash"
                ></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt1.filterGlobal(
                                $any($event.target).value,
                                'contains'
                            )
                        "
                        placeholder="Search keyword"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="bookingId" style="width: 20%">
                    Booking Id
                    <p-sortIcon field="booking.bookingId"></p-sortIcon>
                </th>
                <th pSortableColumn="regionId" style="width: 20%">
                    Region Id <p-sortIcon field="booking.regionId"></p-sortIcon>
                </th>

                <th pSortableColumn="zoneId" style="width: 20%">
                    Zone Id <p-sortIcon field="booking.zoneId"></p-sortIcon>
                </th>
                <th pSortableColumn="clubId" style="width: 20%">
                    Club Id <p-sortIcon field="booking.clubId"></p-sortIcon>
                </th>
                <th pSortableColumn="locationId" style="width: 20%">
                    Location Id
                    <p-sortIcon field="booking.locationId"></p-sortIcon>
                </th>
                <th pSortableColumn="sponserName" style="width: 20%">
                    Sponsor Name

                    <p-sortIcon field=" booking.sponserName"></p-sortIcon>
                </th>
                <th pSortableColumn="phoneNumber" style="width: 20%">
                    Sponsor PhoneNumber
                    <p-sortIcon field="booking.phoneNumber"></p-sortIcon>
                </th>
                <th pSortableColumn="bookingDate" style="width: 20%">
                    Date Of Booking
                    <p-sortIcon field="booking.bookingDate"></p-sortIcon>
                </th>
                <th pSortableColumn="amount" style="width: 20%">
                    Amount
                    <p-sortIcon field="booking.amount"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booking let-columns="columns">
            <tr>
                <td>{{ booking.bookingId }}</td>

                <td>{{ booking.regionId }}</td>
                <td>{{ booking.zoneId }}</td>
                <td>{{ booking.clubId }}</td>
                <td>{{ booking.locationId }}</td>
                <td>{{ booking.sponserName }}</td>
                <td>{{ booking.phoneNumber }}</td>
                <td>{{ booking.bookingDate | date : "dd/MM/YYYY" }}</td>
                <td>{{ booking.amount }}</td>
                <td><p-button  icon="pi pi-pencil"(click)=onEdit(booking)></p-button></td>
                <td>
                    <p-button
                        styleClass="p-button-danger"
                        icon="pi pi-trash"
                    ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
