<p-toast></p-toast>

<p-tabMenu styleClass="mb-2" [model]="routeItems"></p-tabMenu>

<div class="grid">
    <div class="col-12 md:col-6 mt-5">
        <div class="card p-fluid">
            <!-- <h5>Vertical</h5> -->
            <form
                #regionData="ngForm"
                (ngSubmit)="postRegionData(regionData.value)"
            >
                <div class="field">
                    <label htmlFor="age1">Region Id</label>
                    <input
                        pInputText
                        id="age1"
                        type="text"
                        name="regionId"
                        readonly
                       
                        
                        
                    />
                </div>
                <div class="field">
                    <label htmlFor="age1">Region Name</label>
                    <input
                        pInputText
                        #regionName="ngModel"
                        id="name1"
                        name="regionName"
                        required
                        type="text"
                        [(ngModel)]="region.regionName"
                        required
                    />
                </div>
                <div class="field">
                    <label htmlFor="age1">Region Chairman Details</label>
                    <input
                        pInputText
                        id="age1"
                        name="regionChairpersonDetails"
                        type="text"
                        [(ngModel)]="region.regionChairpersonDetails"
                        required
                    />
                </div>
                <div class="col-12 md:col-3">
                    <div>
                        <p-button
                            label="Submit"
                            type="submit"
                            [disabled]="!regionData.valid"
                        ></p-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
