<p-toast></p-toast>
<p-tabMenu styleClass="mb-2" [model]="routeItems"></p-tabMenu>

<div class="grid">
    <div class="col-12 md:col-6">
        <form
            #locationData="ngForm"
            (ngSubmit)="postLocationData(locationData.value)"
        >
            <div class="card p-fluid">
                <!-- <h5>Vertical</h5> -->
                <div class="field">
                    <label htmlFor="state">Club</label>
                    <p-autoComplete
                        [(ngModel)]="location.clubId"
                        name="clubId"
                        [suggestions]="filteredClubs"
                        (completeMethod)="filterClubs($event)"
                        field="clubName"
                        [dropdown]="true"
                    >
                        <ng-template let-clubsList pTemplate="item">
                            <div class="country-item">
                                <div>{{ clubsList.clubName }}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
                <div class="field">
                    <label htmlFor="age1">Location Id</label>
                    <input
                        pInputText
                        id="age1"
                        type="text"
                        name="locationId"
                       
                        readonly
                    />
                </div>
                <div class="field">
                    <label htmlFor="age1">Location Name</label>
                    <input
                        pInputText
                        id="age1"
                        type="text"
                        name="locationName"
                        [(ngModel)]="location.locationName"
                        required
                    />
                </div>
                <div class="field">
                    <label htmlFor="age1">Location Incharge Details</label>
                    <input
                        pInputText
                        id="age1"
                        type="text"
                        name="locationInchargeDetails"
                        [(ngModel)]="location.locationInchargeDetails"
                        required
                    />
                </div>
                <div class="field">
                    <label htmlFor="age1">Location Address</label>
                    <input
                        pInputText
                        id="age1"
                        type="text"
                        name="locationAddress"
                        [(ngModel)]="location.locationAddress"
                        required
                    />
                </div>
                <div class="col-12 md:col-3">
                    <div>
                        <p-button
                            label="Submit"
                            type="submit"
                            [disabled]="!locationData.valid"
                        ></p-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
